{% extends "layout.html" %}
{% block body %}

<h1>タイトル</h1>

<div id="mapid"></div>

<form action=""  method="post" id="states_form">
  <p>都道府県</p>
  <select name="state">

 {% for state in states %}
   <option value={{ state }}>{{state|safe}}</option>

 {% endfor %}
  </select>
  
  <br>
   <input type="submit">クエリ実行</input>
   </form>



<div class="page1">
  <h1>テストデータ（先頭１０件）</h1>
    {{ test_table|safe }}
    </br>
</div>


<form action="{{ url_for('index') }}"  method="post" id="post_test">
  <p>都道府県</p>
  <select name="state">

 {% for state in states %}
   <option value={{ state }}>{{state|safe}}</option>

 {% endfor %}
  </select>
  
  <br>
   <input type="submit">クエリ実行</input>
   </form>


<script>
$(document).ready(function(){
$('.dataframe').dataTable(
{
iDisplayLength : -1
}
);
});
</script>
<script type="text/javascript" charset="utf8" src = "{{ url_for('static', filename='index.js') }}">
</script>


  

{% endblock %}



<!--
 <form action="{{ url_for('stack_tables') }}"  method="post">
 アクション：
<input type="checkbox" name="stack" value="on" /> on　
 <input type="submit" value="実行ボタン">
 </form>
  -->

